* {
    user-select: none;
}

/* Displays range slider vertically */
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

/* For nearest neighbor scaling */
/* 
canvas {
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;            
    image-rendering: pixelated;                 
    -ms-interpolation-mode: nearest-neighbor;   
}
*/


.no-padding {
    padding: 0 !important;
    margin: 0 !important;
 }